body                      {padding:20px;color:#333;background:#7c1d13 url('../images/back-apt.png');}
body, p, ol, ul, td       {font-family:verdana,arial,helvetica,sans-serif;font-size:13px;line-height:18px;margin:20px 0;}
h1, h2, h3, h4, h5, h6    {font-weight:bold;margin:20px 0;}
h1                        {font-size:20px;margin:15px 0;color:#7c1d13;}
h2                        {margin:30px 0 10px 0;font-size:14px;}
p                         {margin:15px 0;}
strong                    {font-weight:bold;}

#header			{height:253px;padding:0 0 0 0;background:transparent url('../images/banner.png') no-repeat 0 0;}
#header .banner                 {float:left;margin:50px 0 0 35px;}
#header .banner h1              {color:#ec960d;margin:0;font-size:50px;padding:25px 0;}
#header .banner h2              {color:#fff;margin:0 0 0 2px;font-size:27px;font-weight:normal;}
#header .banner a               {text-decoration:none;color:inherit;}

#navigation									{background-color:#7c1d13;color:white;}
#navigation ul							{margin:0;padding:0;float:left;}
#navigation ul li 					{list-style-type:none;display:inline;}
#navigation ul li a					{background-color:#d1a69f;display:block;float:left;padding:5px 10px;color:#7c1d13;text-decoration:none;border-right:1px solid #fff;}
#navigation ul li a:hover		{background-color:#937374;color:#fff;text-decoration:underline;}
#navigation ul li a.last		{}

#wrapper		{background-color:#fff !important;background:#fbf9f4 url('../images/aside.gif') repeat-y 100% 0;}
#content		{padding:0 1em;}
#aside			{padding:.5em;}
#footer			{background-color:#fff;}

/* <-- highlight selected navigation tab --> */
.pages.contact #navigation a.contact,
.pages.privacy #navigation a.privacy,
.pages.about #navigation a.about,
.pages.index #navigation a.index 				{background-color:#7c1d13;color:#fff;}

.debug			{color:#fff;}