body                      {padding:20px;color:#333;background:#7c1d13 url('../images/back-apt.png');}
body, p, ol, ul, td       {font-family:verdana,arial,helvetica,sans-serif;font-size:13px;line-height:18px;margin:20px 0;}
h1, h2, h3, h4, h5, h6    {font-weight:bold;margin:20px 0;}
h1                        {font-size:20px;margin:15px 0;color:#7c1d13;}
h2                        {margin:30px 0 10px 0;font-size:14px;}
p                         {margin:15px 0;}
strong                    {font-weight:bold;}

#header			{height:253px;padding:0 0 0 0;background:black url('../images/banner.png') no-repeat 0 0;}
#navigation	{background-color:#7c1d13;color:white;}
#wrapper		{background-color:#fff !important;background:#fbf9f4 url('../images/aside.gif') repeat-y 100% 0;}
#content		{padding:0 1em;}
#aside			{padding:.5em;}
#footer			{background-color:#fff;}