body                      {padding:20px;color:#333;background:#7c1d13 url('../images/back-apt.png');}
body, p, ol, ul, td       {font-family:verdana,arial,helvetica,sans-serif;font-size:13px;line-height:18px;margin:20px 0;}
h1, h2, h3, h4, h5, h6    {font-weight:bold;margin:20px 0;}
h1                        {font-size:20px;margin:15px 0;color:#7c1d13;}
h2                        {margin:30px 0 10px 0;font-size:14px;}
p                         {margin:15px 0;}
strong                    {font-weight:bold;}

.round        {-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
.small_round  {-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.shadow       {-moz-box-shadow: 3px 3px 4px #999;-webkit-box-shadow: 3px 3px 4px #999;box-shadow: 3px 3px 4px #999;}

table.first_column_fixed tr td:first-child			{width:1%;white-space:nowrap;font-weight:bold;}

div.field	label																	{display:block;font-size:0.9em;}
div.field	input																	{}
div.field input[type='text'],
div.field input[type='password']								{font-size:1em;padding:0.25em;margin:0.25em 0;width:20em;}
div.field input[type='text'].small							{width:10em;}
div.field input[type='text'].x_small						{width:5em;}
div.field input[type='text'].tiny								{width:2em;}
div.field select																{font-size:1em;padding:0.25em;border-color:#bbb;}
div.field textarea															{font-size:1em;padding:0.25em;width:40em;height:8em;}
div.field.new_section, div.actions.new_section	{margin-top:2em;}
div.field div.checkbox													{margin-top:1em;}
div.field div.checkbox label										{display:inline}                                          			
div.field div.tip																{color:#888;font-size:.8em;line-height:0.8em;font-style:italic;padding-left:2px;}                                          			
div.highlight																		{margin-top:2em;}

div.paypal					 						{margin-bottom:30px;}
div.paypal img.image 						{width:100px;float:left;}
div.paypal h3			 							{margin:10px 0;padding-left:110px;}
div.paypal div.legend			 			{padding-left:110px;}
div.paypal table					 			{margin:20px 0 0 0;background-color:#eee;border:solid 1px #92CAE4;}
div.paypal table td							{font-size:0.9em;padding:6px;}
div.paypal table td input				{}
div.paypal table td.item				{color:#000;font-weight:bold;}
div.paypal table td.price				{color:red;font-weight:bold;}
                              						
#header													{height:253px;padding:0 0 0 0;background:transparent url('../images/banner.png') no-repeat 0 0;}
#header .banner                 {float:left;margin:50px 0 0 35px;}
#header .banner h1              {color:#ec960d;margin:0;font-size:50px;padding:25px 0;}
#header .banner h2              {color:#fff;margin:0 0 0 2px;font-size:27px;font-weight:normal;}
#header .banner a               {text-decoration:none;color:inherit;}

#navigation									{background-color:#7c1d13;color:white;}
#navigation ul							{margin:0;padding:0;float:left;}
#navigation ul li 					{list-style-type:none;display:inline;}
#navigation ul li a					{background-color:#d1a69f;display:block;float:left;padding:5px 10px;color:#7c1d13;text-decoration:none;border-right:1px solid #fff;}
#navigation ul li a:hover		{background-color:#937374;color:#fff;text-decoration:underline;}
#navigation div.identity		{float:right;padding:.2em;}

#wrapper		{background-color:#fff !important;background:#fbf9f4 url('../images/aside.gif') repeat-y 100% 0;}
#content		{padding:1em;}
#aside			{padding:.5em;}
#footer div	{background-color:#ddd;text-align:center;padding:5px;}

div.field_with_errors input 			{border-color:red;}
div.field_with_errors select 			{border-color:red;}
div.field_with_errors textarea 		{border-color:red;}
div.field_with_errors label				{color:red;}
div.checkbox .field_with_errors 	{display:inline;}

/* <-- over ride blueprint styles --> */
.error h1, .alert h1, .notice h1, .success h1, .info h1			{font-size:1.1em;margin:.5em}
.error ol, .alert ol, .notice ol, .success ol, .info ol			{margin:.5em;}

table.no_zebra tbody tr:nth-child(even) td,
table.no_zebra tbody tr.even td 														{background: transparent;}

select.text 																								{padding:4px;border-color:#bbb;}

/* <-- style forms --> */
.actions			{margin-top:15px;}
td.actions		{width:1%;white-space:nowrap;}

/* <-- highlight selected navigation tab --> */
.sessions #navigation a.logout,
.sessions #navigation a.login,
.payments #navigation a.register,
.registrations #navigation a.register,
.pages.contact #navigation a.contact,
.pages.privacy #navigation a.privacy,
.pages.about #navigation a.about,
.pages.index #navigation a.index 				{background-color:#7c1d13;color:#fff;}

.debug			{color:#fff;}