<h1>Users</h1>
<table>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.email %></td>
				<td><%= user.salt %></td>
				<td><%= user.created_at %></td>
			</tr>
		<% end %>
	</tbody>
</table>