<h1>About <%= APP_LONG_NAME %></h1>
<p>
  <%= APP_LONG_NAME %> provides developmental volleyball teams and programs to Lakeville girls grades 
  two through nine. At the present time, we organize and administrate a community-based 
  fall and spring in-house volleyball league for girls grade 1-6. All players are welcome, regardless of skill level. 
  We try to provide a positive sport experience with an emphasis on skill development and training in the great 
  sport of volleyball.
</p>
<p>
  <%= APP_LONG_NAME %> exists to promote and develop youth volleyball for any school-age girls in the Lakeville 
  community, regardless of school attendance. Our programming aims to be community-wide, 
  and girls from outside Lakeville schools attendance area are happily accepted as space allows. 
</p>
