<ul>
  <li><%= link_to "Home", pages_index_path, :class => "index" %></li>
  <li><%= link_to "About", pages_about_path, :class => "about" %></li>
  <li><%= link_to "Privacy", pages_privacy_path, :class => "privacy" %></li>
  <li><%= link_to "Contact us", pages_contact_path, :class => "contact last" %></li>
</ul>
